body{
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0%;
    
}
header{
    padding: 15px 15px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0%;
}
nav ul{
    display: flex;
    gap: 14px;
}
li{
    text-decoration: none;
}
li a{
    color: antiquewhite;
    font-size: larger;
    transform: scale(2deg);
    transition: 0.4s ease-in-out;
}
li a:hover{
    color: blueviolet;
    transform: scale(2deg);
    transition: 0.4s ease-in-out;
}
a{
    text-decoration: none;
}
.logo{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.logo a{
    color: blueviolet;
    
}
.logo span{
    color: aqua;
}
.container{
    position: absolute;
    height: 600px;
    width: 100%;
    margin-top: -1.5%;
    background: linear-gradient(to left, rgba(0,0,0,97%) 70%, rgba(0,0,0,0.3)), url(img/41.jpg);
}

h2{
    text-align: center;
    color: aqua;
    font-weight: 900;
    font-size: xx-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1.1rem;
    margin-top: 20%;
}